{% extends 'base.html' %}

{% block title %} Glamping{% endblock %}

{% block content %}
<div class="card shadow mb-4 p-4 ">
    <div class="card-header py-3 mb-3">
        <h4 class="m-0 font-weight-bold text-primary">Editar Reserva</h4>
    </div>
    <div class="mb-3 mr-5">
        <label for="" class="form-label"><FONT SIZE=6 COLOR="#ff5722">Valor de la reserva</FONT></label>
        <input type="text" class="form-control" value="{{booking.price}}" readonly />
    </div>
    <div class="table-responsive">
        <h5 class="text-primary font-weight-bold mt-4">Cabañas reservadas</h5>
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead class="table-dark">
                <tr>
                    <th>Imagen</th>
                    <th>Código cabaña</th>
                    <th>Nombre</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for cabin in booking_cabin %}
                <tr>
                    <td><img src="{{ cabin.cabin.image.url}}" alt="" width="50"></td>
                    <td>{{ cabin.cabin.id }}</td>
                    <td>{{ cabin.cabin.name }}</td>
                    <td>{{ cabin.price}}</td>                        
                </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>
    <div class="table-responsive">
        <h5 class="text-primary font-weight-bold mt-4">Servicios reservados</h5>
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead class="table-dark">
                <tr>
                    <th>Imagen</th>
                    <th>Código servicio</th>
                    <th>Nombre</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for service in booking_service %}
                <tr>
                    <td><img src="{{ service.service.image.url}}" alt="" width="50"></td>
                    <td>{{ service.service.id }}</td>
                    <td>{{ service.service.name }}</td>
                    <td>{{ service.price}}</td>                        
                </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>
    {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="d-flex">
            <div class="mb-3">
                <label for="date_start" class="form-label">Fecha inicio</label>
                <input type="date" class="form-control" name="date_start" id="date_start" aria-describedby="helpId"
                    placeholder="Ingresa una fecha de inicio" value="{{ booking.date_start|date:'Y-m-d'  }}" required>
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 mx-4">
                <label for="date_end" class="form-label">Fecha final</label>
                <input type="date" class="form-control" name="date_end" id="date_end" aria-describedby="helpId"
                    placeholder="Ingresa una fecha de inicio" value="{{ booking.date_end|date:'Y-m-d' }}" required>
                <small id="helpId" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Cliente</label>
            <input type="text" class="form-control" id="customerName" value="{{booking.customer.name}}" readonly>
            <input type="hidden" name="customer" id="customerId" value="{{booking.customer.id}}">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Cabaña</label>
            <div class="d-flex">
                <select class="form-control" name="cabin" id="" >
                    <option value="">Selecciona una cabaña</option>
                    {% for cabin in cabin_list %}
                    <option value="{{cabin.id}}" {% if cabin.id == booking.cabin.id %} selected {% endif %}>{{ cabin.name }} - {{ cabin.price }}</option>
                    {% endfor %}
                </select>
                <a href="" onclick="addCabin(event)" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50"><i class="fa fa-plus"></i></span>
                </a>
            </div>   
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Servicios</label>
            <div class="d-flex">
                <select class="form-control" name="service" id="" >
                    <option value="">Selecciona un servicio</option>
                    {% for service in service_list %}
                    <option value="{{service.id}}" {% if service.id == booking.service.id %} selected {% endif %}>{{ service.name }} - {{ service.price }}</option>
                    {% endfor %}
                </select>
                <a onclick="addService(event)" href="" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50"><i class="fa fa-plus"></i></span>
                </a>
            </div>    

        </div>
        <div class="card-header py-3 mb-3">
            <h4 class="m-0 font-weight-bold text-primary">Detalle reserva</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
        
                <tbody id="tbooking">
                    <!-- Elimina el bucle que carga los datos iniciales -->
                </tbody>
        
                <thead>
                    <tr>
                        <th>Total:</th>
                        <th scope="col"><input class="text-success font-weight-bold" style="border: none;" type="text" name="totalValue" id="totalValue" readonly></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        

        <div class="text-center">
            <p id="totalDisplay">{{ booking.total }}</p>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</div>

<script>
    cabin_added = [];
    service_added = [];
    let total = 0;

    function addCabin(event) {
        let date_start = document.getElementById('date_start').value;
        let date_end = document.getElementById('date_end').value;
        let start_date = new Date(date_start);
        let end_date = new Date(date_end);
        let days = (end_date - start_date) / (1000 * 60 * 60 * 24); // Convert milliseconds to days

        event.preventDefault();
        let cabinSelect = $('select[name="cabin"]');
        let cabin_Id = cabinSelect.val();
        let cabin_Name = cabinSelect.find('option:selected').text().split(' - ')[0];
        let cabin_price_per_day = cabinSelect.find('option:selected').text().split(' - ')[1];
        let cabin_price_total = parseInt(cabin_price_per_day) * days;
        cabin_added.push(cabin_Id);
        totalBooking(cabin_price_total);

        $('#tbooking').append(`
            <tr id=${cabin_Id}>                               
                <td>
                    <input type="hidden" name="cabinId[]" value="${cabin_Id}">
                    <input type="hidden" name="cabinPrice[]" value="${cabin_price_total}">
                    ${cabin_Name}
                </td>
                <td>${cabin_price_total}</td>                
                <td>
                    <a onclick='removeBooking(event, "cabin")' class="deleteBtn btn btn-danger btn-circle btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        `);
    }

    function addService(event) {
        event.preventDefault();
        let serviceSelect = $('select[name="service"]');
        let service_Id = serviceSelect.val();
        let sevice_Name = serviceSelect.find('option:selected').text().split(' - ')[0];
        let service_Price = serviceSelect.find('option:selected').text().split(' - ')[1];
        service_added.push(service_Id);
        totalBooking(parseInt(service_Price));

        $('#tbooking').append(`
            <tr id="${service_Id}">                                
                <td>
                    <input type="hidden" name="serviceId[]" value="${service_Id}">
                    <input type="hidden" name="servicePrice[]" value="${service_Price}">
                    ${sevice_Name}
                </td>
                <td>${service_Price}</td>                
                <td>
                    <a onclick='removeBooking(event, "service")' class="btn btn-danger btn-circle btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        `);
    }

    function totalBooking(value) {
        total += value;
        document.getElementById('totalValue').value = total;
    }

    document.querySelector('form').addEventListener('submit', function(e) {
        let date_start = document.getElementById('date_start').value;
        let date_end = document.getElementById('date_end').value;
        let today = new Date();
        today.setHours(0, 0, 0, 0); // Set time to 00:00:00.000
        let start_date = new Date(date_start);
        let end_date = new Date(date_end);
    
        if (start_date < today) {
            e.preventDefault();
            alert('La fecha de inicio de la reserva no puede ser anterior a la fecha actual.');
        } else if (start_date > end_date) {
            e.preventDefault();
            alert('La fecha de inicio de la reserva no puede ser mayor a la fecha de fin.');
        } else if (cabin_added.length === 0) {
            e.preventDefault();
            alert('Por favor, añade al menos una cabaña a la reserva.');
        }
    });

    function removeBooking(event, type) {
    event.preventDefault();
    let element = event.target.closest('tr');
    
    // Comprobar si el elemento existe
    if (element) {
        let id = element.id;
        let priceString = element.querySelector('td:nth-child(2)').textContent;
        // Elimina los caracteres que no son dígitos
        let price = parseInt(priceString.replace(/\D/g, ''), 10);
        
        if (type === 'cabin') {
            cabin_added = cabin_added.filter(cabin => cabin !== id);
        } else {
            service_added = service_added.filter(service => service !== id);
        }

        total -= price;
        if (total < 0) {
            total = 0; // Asegurarse de que el total nunca sea negativo
        }
        document.getElementById('totalValue').value = total;

        element.remove();
    } else {
        console.error('Error: Elemento no encontrado.');
    }
}


</script>



{% endblock %}