{% extends 'base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Reserva</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">            
            <a href="{% url 'create_booking' %}" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fa fa-plus "></i>
                </span>
                <span class="text">Crear Reserva</span>
            </a>
            
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Código reserva</th>
                        <th>Cliente</th>
                        <th>Documento Cliente</th>
                        <th>Fecha reserva</th>
                        <th>Fecha inicio</th>
                        <th>Fecha finalización</th>
                        <th>Valor</th>
                        <th>Estado</th>
                        <th>Acciones</th>                        
                    </tr>
                </thead>                
                <tbody>
                    {% for booking in booking_list %}
                    <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.customer.name }}</td>
                    <td>{{ booking.customer.document }}</td>
                    <td>{{ booking.date_booking }}</td>
                    <td>{{ booking.date_start }}</td>
                    <td>{{ booking.date_end }}</td>
                    <td>{{ booking.price }}</td>
                    <td>{{ booking.status }}</td>                                       

                    <td>
                        <a href="{% url 'detail_booking' booking.id %}" class="btn btn-info btn-circle btn-sm"> 
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning btn-circle btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{% url 'delete_booking' booking.id %}" class="deleteBtn btn btn-danger btn-circle btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                    </tr>
                    {% endfor %}                                     
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('.deleteBtn').forEach(function(deleteBtn) {
    deleteBtn.addEventListener('click', function (event) {
        event.preventDefault(); 

        swal({
            title: "Estás seguro que deseas eliminar?",            
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {                
                window.location.href = this.getAttribute('href');              
            }
        });
    });
});
</script>


{% if messages %}
    {% for message in messages %}
        <script>
            swal({                
                text: "{{ message }}",
                icon: "{{ message.tags }}",
                button: "OK",
            });
        </script>
    {% endfor %}
{% endif %}
{% endblock %}