
{% extends 'base.html' %}

{% load static %}

{% block content %}
<body>

    <div class="container-fluid">
        <div class="row column_title">
           <div class="col-md-12">
              <div class="page_title text-center">
                 <h2>Hola <strong>{{user.first_name}}</strong>. Bienvenido(a) a la ayuda en línea, aquí encontrarás una guía para navegar por los diferentes módulos de South Glamping.
              </div>
           </div>
        </div>
     </div>   
     
    <div class="row">

        <div class="col-lg-4">
            <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem">
                <div class="card-header text-center border-dark">
                    <i class="fa fa-cogs"></i> <strong>Gestión de roles</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Guía para gestionar los roles de usuario del aplicativo.</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
                <div class="card-header text-center border-dark">
                    <i class="fa fa-users"></i> <strong>Gestión de usuarios</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Guía para gestionar los usuarios, su estado y permisos.</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem; ">
                <div class="card-header text-center border-dark">
                    <i class="fa fa-sign-in"></i> <strong>Gestión de acceso</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Guía  gestionar el inicio de sesión, cierre de sesión y recuperación de contraseña.</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 border-black">
            <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
                <div class="card-header text-center border-dark">
                    <i class="fa fa-user"></i> <strong>Gestión de clientes</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Guía paso a paso para gestionar el módulo de clientes.</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
                <div class="card-header text-center border-dark">
                    <i class="fa fa-university"></i> <strong>Gestión de tipos de cabaña</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Aquí encuentras la guía paso a paso para gestionar el inicio de sesión, cierre de sesión y recuperación de contraseña.</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
                <div class="card-header text-center border-dark">
                    <i class="fa fa-home"></i> <strong>Gestión de cabañas</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Aquí encuentras la guía paso a paso para gestionar el inicio de sesión, cierre de sesión y recuperación de contraseña.</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="col-lg-4">
        <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
            <div class="card-header text-center border-dark">
                <i class="fa fa-calendar"></i> <strong>Gestión de reservas</strong>
            </div>
            <div class="card-body">
                <p class="card-text">Aquí encuentras la guía paso a paso para gestionar el inicio de sesión, cierre de sesión y recuperación de contraseña.</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
            <div class="card-header text-center border-dark">
                <i class="fa fa-coffee"></i> <strong>Gestión de servicios</strong>
            </div>
            <div class="card-body">
                <p class="card-text">Aquí encuentras la guía paso a paso para gestionar el inicio de sesión, cierre de sesión y recuperación de contraseña.</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card bg-white mb-3 border-dark flex-grow-1" style="max-width: 30rem;">
            <div class="card-header text-center border-dark">
                <i class="fa fa-money"></i> <strong>Gestión de pagos</strong>
            </div>
            <div class="card-body">
                <p class="card-text">Aquí encuentras la guía paso a paso para gestionar el inicio de sesión, cierre de sesión y recuperación de contraseña.</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"></i> Ver video</a>
                </div>
            </div>
        </div>
    </div>

</div>
    
</body>
{%endblock%}