{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio - SG</title>
        <link href="../static/css/index.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    
<div class="container-fluid">
   <div class="row column_title">
      <div class="col-md-12">
         <div class="page_title">
            <h2>Dashboard</h2>
         </div>
      </div>
   </div>
   <!-- dashboard inner -->
   <div class="midde_cont">
      <div class="container-fluid">
         <div class="row column_title">
            <div class="col-md-12">
               <div class="page_title">
                  <h2>Gráficos y estadísticas.</h2>
               </div>
            </div>
         </div>
         <!-- row -->
         
         <div class="row column1">
            <div class="col-lg-6">
               <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                     <div class="heading1 margin_0">
                        <h2>Reservas por mes</h2>
                     </div>
                  </div>
                  <div class="map_section padding_infor_info">
                     <canvas id="my_chart"></canvas>
                     <script>
                     var ctx = document.getElementById('my_chart').getContext('2d');
                     var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                           labels: {{ months|safe }},
                           datasets: [{
                              label: 'Reservas',
                              data: {{ data|safe }},
                              backgroundColor: 'rgba(75, 192, 192, 0.2)',
                              borderColor: 'rgba(75, 192, 192, 1)',
                              borderWidth: 1
                           }]
                        },
                        options: {
                           scales: {
                              y: {
                                 beginAtZero: true
                              }
                           }
                        }
                     });
                     </script> 
                  </div>
               </div>
           </div>
   
            <div class="col-lg-6">
               <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                     <div class="heading1 margin_0">
                        <h2>Ganancias mensuales</h2>
                     </div>
                  </div>
                  <div class="map_section padding_infor_info">
                     <canvas id="bar_chart"></canvas>
                     <script>
                     var ctx = document.getElementById('bar_chart').getContext('2d');
                     var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                           labels: {{ months|safe }},
                           datasets: [{
                              label: 'Ganancias',
                              data: {{ profit|safe }},
                              backgroundColor: 'rgba(255, 165, 0, 0.2)',  // Color de fondo de las barras en naranja con transparencia
                              borderColor: 'rgba(255, 165, 0, 1)',  // Color del borde de las barras en naranja
                              borderWidth: 1
                           }]   
                        },
                        options: {
                           scales: {
                              y: {
                                 beginAtZero: false,  // Comienza la escala en el valor mínimo de los datos, no en cero
                              }
                           }
                        }
                     });
                     </script>

                  </div>
               </div>
            </div>

            <div class="col-lg-6">
               <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                     <div class="heading1 margin_0">
                        <h2>Solicitudes por servicio</h2>
                     </div>
                  </div>
                  <div class="map_section padding_infor_info">
                     <canvas id="bar1_chart"></canvas>
                     <script>
                     document.addEventListener('DOMContentLoaded', function() {
                        var ctx = document.getElementById('bar1_chart').getContext('2d');
                        var myChart = new Chart(ctx, {
                           type: 'horizontalBar',
                           data: {
                              labels: JSON.parse('{{ service_names|escapejs }}'),
                              datasets: [{
                                 label: 'Solicitudes por servicio',
                                 data: JSON.parse('{{ service_data|escapejs }}'),
                                 backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                 ],
                                 borderColor: [
                                 'rgba(255, 99, 132, 1)',
                                 'rgba(54, 162, 235, 1)',
                                 'rgba(255, 206, 86, 1)',
                                 'rgba(75, 192, 192, 1)',
                                 'rgba(153, 102, 255, 1)',
                                 'rgba(255, 159, 64, 1)',
                                 ],
                                 borderWidth: 1
                              }]
                           },
                           options: {
                              scales: {
                                 x: {
                                    beginAtZero: true,
                                    title: {
                                       display: true,
                                       text: 'Número de solicitudes'
                                    }   
                                 }
                              }
                           }
                        });
                     });
                     </script>
                  </div>
               </div>
            </div>

            <div class="col-lg-6" width: '400px'>
               <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                     <div class="heading1 margin_0">
                        <h2>Reservas por tipo de cabaña</h2>
                     </div>
                  </div>
                  <div class="map_section padding_infor_info">
                     <canvas id="pie_chart"></canvas>
                     <script>
                     var ctx = document.getElementById('pie_chart').getContext('2d');
                     var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                           labels: {{ cabin_types|safe }},
                           datasets: [{
                           data: {{ cabin_data|safe }},
                              backgroundColor: [
                                 'rgba(255, 99, 132, 0.2)',
                                 'rgba(54, 162, 235, 0.2)',
                                 'rgba(255, 206, 86, 0.2)',
                                 'rgba(75, 192, 192, 0.2)',
                                 'rgba(153, 102, 255, 0.2)',
                                 'rgba(255, 159, 64, 0.2)',
                              ],
                              borderColor: [
                                 'rgba(255, 99, 132, 1)',
                                 'rgba(54, 162, 235, 1)',
                                 'rgba(255, 206, 86, 1)',
                                 'rgba(75, 192, 192, 1)',
                                 'rgba(153, 102, 255, 1)',
                                 'rgba(255, 159, 64, 1)',
                              ],
                              borderWidth: 1
                           }]
                        }
                    });
                    </script>
                  </div>
               </div>
            </div>

            
         </div>
         <!-- end row -->
      </div>
   </div><!-- end dashboard inner -->

{%endblock%}