{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio - SG</title>
        <!-- Favicon-->
        <link rel="icon" href="{% static 'images/logo/Golden.png' %}" type="image/png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/landingpage01.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-dark bg-dark static-top">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="#!"><FONT SIZE=5 COLOR="#ff5722">S</FONT>outh <FONT SIZE=5 COLOR="#ff5722">G</FONT>lamping</a>
                <div>
                    <a class="btn btn-primary" href="{% url 'login' %}">Ingresar</a>
                    <a class="btn btn-primary" href="#signup">Registrarse</a>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-left">
                    <div class="col-xl-6">
                        <div class=" text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Alojamiento extraordinario</h1>
                        </div>    
                        <div class="text-white">
                            <h5>En South Glamping encontrarás un lugar perfecto para crear gratos momentos y experiencias, pues tenemos espacios únicos, rodeados de naturaleza
                            y maravillosos paisajes. Contamos con una gran variedad de cabañas, con diversas formas, tamaños y características, en las cuales podrás disfrutar de los lujos y comodidades propias de un alojamiento moderno, sin perder la conexión con la naturaleza, característica de acampar. <br>
                            Además, encontrarás servicios y actividades adicionales, que podrás disfrutar tanto dentro como fuera del glamping.</h5> 
                            <h3><br>¿Qué esperas para visitarnos y vivir experiencias inolvidables?<h3>
                        </div>
                            

                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-tree m-auto text-success"></i></div>
                            <h3>En medio de la naturaleza</h3>
                            <p class="lead mb-0">Donde podrás disfrutar de la privilegiada vista que ofrece cada una de nuestras cabañas.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-cup m-auto text-primary"></i></div>
                            <h3>Servicios adicionales</h3>
                            <p class="lead mb-0">Entre los que se incluyen: Alimentación, decoración, spa, caminatas y muchos más.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-house m-auto text-danger"></i></div>
                            <h3>Variedad de cabañas.</h3>
                            <p class="lead mb-0">Podrás elegir en que tipo de cabaña quieres disfrutar tu estadia en éste mágico lugar</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        {% for cabin_type in cabin_types %}
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ cabin_type.image }}')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>{{ cabin_type.name }}</h2>
                        <p class="lead mb-0">{{ cabin_type.description }}</p>
                    </div>
                </div>
                <section class="testimonials text-center bg-light">
                    <div class="container-fluid p-5">
                        <div class="row g-3 py-0">
                            {% for cabin in cabin_type.cabin_set.all %}
                                {% if cabin in cabins %}
                                <div class="col-lg-3 d-flex align-items-stretch p-0">
                                    <div class="card h-100 d-flex flex-column m-1">
                                        <img class="img-fluid mb-3 m-1" src="{{ cabin.image }}" alt="..." />
                                        <div class="card h-100 d-flex flex-column ">
                                            <strong><h5 class="card-title">{{ cabin.name }}</h5></strong>
                                            <p class="card-text mb-auto">
                                                <strong>Descripción:</strong> {{ cabin.description }}<br>
                                                <strong>Capacidad:</strong> {{ cabin.capacity }}<br>
                                                <strong>Valor por noche:</strong> {{ cabin.price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
             </div>
        </section>
        {% endfor %}
    <div class="carousel-container">
    <h2 class="carousel-title">Servicios adicionales:</h2>            
    <div id="servicesCarousel" class="carousel slide carousel-custom" data-ride="carousel">
        <div class="carousel-inner">
            {% for service in services %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ service.image.url }}" class="d-flex w-100 h-20" alt="{{ service.name }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>{{ service.name }}</h2>
                        <h4>{{ service.description }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
                
        <a class="carousel-control-prev" href="#servicesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#servicesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    </div>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Además, contamos con...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../static/images/layout_img/restaurante.jpg" alt="..." />
                            <h5>Restaurante-Bar.</h5>
                            <p class="font-weight-light mb-0"></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../static/images/layout_img/piscina.png" alt="..." />
                            <h5>Piscina.</h5>
                            <p class="font-weight-light mb-0"></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../static/images/layout_img/turco.jpg" alt="..." />
                            <h5>Baño Turco.</h5>
                            <p class="font-weight-light mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h1 class="mb-4">¿Qué esperas para reservar? <br> ¡Regístrate ahora!</h1>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <a class="btn btn-primary" href="{% url 'register' %}">Registrarse</a>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; El peor grupo del SENA 2024. All Rights Reserved. Haganos pasar.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://api.whatsapp.com/send/?phone=3167080800&text&type=phone_number&app_absent=0"><i class="bi-whatsapp fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/profile.php?id=61556781183131"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/south_glamping/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>
