{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Login</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" href="{% static 'images/logo/Golden.png' %}" type="image/png" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
    <div class="container">
        <form >
            <p>Bienvenido</p>
            <input type="email" placeholder="Email"><br>
            <input type="password" placeholder="Clave"><br>
            <input type="button" value="Ingresar"><br>
            <a href="#">¿Olvidaste tu clave?</a>
        </form>
        
        <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
        </div>
        </div>
    
</body>
</html>