{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Registro</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="{% static 'images/logo/Golden.png' %}" type="image/png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body >
    <div class="container">
        <div class="form">
            <form class="inputBx" method="post">
                <h2>Crear Cuenta</h2>
                {% csrf_token %} {% for field in form %}
                <div class="mb-3">
                    <input required 
                    type="{{field.field.widget.input_type}}"
                    class="form-control"
                    name="{{field.name}}"
                    id=""
                    aria-describedby="helpId"
                    placeholder="{{field.label}}"
                    value="{{field.value | default:'' }}"
                    />
                <small id="helpId" class="form-text text-danger"
                    >{{field.errors}}</small>
                </div>
                {% endfor %}

                <div class="inputBx">
                    <input type="submit" value="Registrar">
                </div>
            </form>
            <div class="drops">
                <div class="drop drop-1"></div>
                <div class="drop drop-2"></div>
                <div class="drop drop-3"></div>
                <div class="drop drop-4"></div>
                <div class="drop drop-5"></div>
            </div>
        </div>
    </div>
</body>
</html>



